In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
data=pd.read_excel("../housepricing/HousePricePrediction.xlsx")
print(data.head(10))

   Id  MSSubClass MSZoning  LotArea LotConfig BldgType  OverallCond  \
0   0          60       RL     8450    Inside     1Fam            5
1   1          20       RL     9600       FR2     1Fam            8
2   2          60       RL    11250    Inside     1Fam            5
3   3          70       RL     9550    Corner     1Fam            5
4   4          60       RL    14260       FR2     1Fam            5
5   5          50       RL    14115    Inside     1Fam            5
6   6          20       RL    10084    Inside     1Fam            5
7   7          60       RL    10382    Corner     1Fam            6
8   8          50       RM     6120    Inside     1Fam            5
9   9         190       RL     7420    Corner   2fmCon            6

   YearBuilt  YearRemodAdd Exterior1st  BsmtFinSF2  TotalBsmtSF  SalePrice
0       2003          2003     VinylSd         0.0        856.0   208500.0
1       1976          1976     MetalSd         0.0       1262.0   181500.0
2       2001          2002     VinylSd         0.0        920.0   223500.0
3       1915          1970     Wd Sdng         0.0        756.0   140000.0
4       2000          2000     VinylSd         0.0       1145.0   250000.0
5       1993          1995     VinylSd         0.0        796.0   143000.0
6       2004          2005     VinylSd         0.0       1686.0   307000.0
7       1973          1973     HdBoard        32.0       1107.0   200000.0
8       1931          1950     BrkFace         0.0        952.0   129900.0
9       1939          1950     MetalSd         0.0        991.0   118000.0

In [12]:
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB
None
Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [13]:
print(data.MSZoning.unique())
data["MSZoning"] = data["MSZoning"].map({
    "RL": 0,
    "RM": 1,
    "C (all)": 2,
    "FV": 3,
    "RH": 4
})

print(data.head(10))

['RL' 'RM' 'C (all)' 'FV' 'RH' nan]
   Id  MSSubClass  MSZoning  LotArea LotConfig BldgType  OverallCond  \
0   0          60       0.0     8450    Inside     1Fam            5
1   1          20       0.0     9600       FR2     1Fam            8
2   2          60       0.0    11250    Inside     1Fam            5
3   3          70       0.0     9550    Corner     1Fam            5
4   4          60       0.0    14260       FR2     1Fam            5
5   5          50       0.0    14115    Inside     1Fam            5
6   6          20       0.0    10084    Inside     1Fam            5
7   7          60       0.0    10382    Corner     1Fam            6
8   8          50       1.0     6120    Inside     1Fam            5
9   9         190       0.0     7420    Corner   2fmCon            6

   YearBuilt  YearRemodAdd Exterior1st  BsmtFinSF2  TotalBsmtSF  SalePrice
0       2003          2003     VinylSd         0.0        856.0   208500.0
1       1976          1976     MetalSd         0.0       1262.0   181500.0
2       2001          2002     VinylSd         0.0        920.0   223500.0
3       1915          1970     Wd Sdng         0.0        756.0   140000.0
4       2000          2000     VinylSd         0.0       1145.0   250000.0
5       1993          1995     VinylSd         0.0        796.0   143000.0
6       2004          2005     VinylSd         0.0       1686.0   307000.0
7       1973          1973     HdBoard        32.0       1107.0   200000.0
8       1931          1950     BrkFace         0.0        952.0   129900.0
9       1939          1950     MetalSd         0.0        991.0   118000.0

In [14]:
data.LotConfig.unique()
data["LotConfig"]=data["LotConfig"].map({"Inside":0,"FR2":1,"Corner":2,"CulDSac":3,"FR3":4})

In [15]:
data.BldgType.unique()
data["BldgType"]=data["BldgType"].map({'1Fam':0, '2fmCon':1, 'Duplex':2, 'TwnhsE':3, 'Twnhs':4})

In [16]:
data.Exterior1st.unique()
data["Exterior1st"]=data["Exterior1st"].map({'VinylSd':0, 'MetalSd':1, 'Wd Sdng':2, 'HdBoard':3, 'BrkFace':4, 'WdShing':5,
       'CemntBd':6, 'Plywood':7, 'AsbShng':8, 'Stucco':9, 'BrkComm':10, 'AsphShn':11,
       'Stone':12, 'ImStucc':13, 'CBlock':14, "nan":"NaN"})

In [17]:
data.drop(["Id","BsmtFinSF2"],axis=1)

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,TotalBsmtSF,SalePrice
0,60,0.0,8450,0,0,5,2003,2003,0,856.0,208500.0
1,20,0.0,9600,1,0,8,1976,1976,1,1262.0,181500.0
2,60,0.0,11250,0,0,5,2001,2002,0,920.0,223500.0
3,70,0.0,9550,2,0,5,1915,1970,2,756.0,140000.0
4,60,0.0,14260,1,0,5,2000,2000,0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...
2914,160,1.0,1936,0,4,7,1970,1970,6,546.0,NaN
2915,160,1.0,1894,0,3,5,1970,1970,6,546.0,NaN
2916,20,0.0,20000,0,0,7,1960,1996,0,1224.0,NaN
2917,85,0.0,10441,0,0,5,1992,1992,3,912.0,NaN
2918,60,0.0,9627,0,0,5,1993,1994,3,996.0,NaN

In [18]:
print(data.isnull().sum())
meansaleprice=data["SalePrice"].mean()
data.loc[data.SalePrice.isnull()]=meansaleprice
data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice
C:\Users\hp\AppData\Local\Temp\ipykernel_12768\719046988.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '180921.19589041095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data.SalePrice.isnull()]=meansaleprice

Id              0
MSSubClass      0
MSZoning        0
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     0
BsmtFinSF2      0
TotalBsmtSF     0
SalePrice       0
dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
train_X,test_x,train_Y,test_y=train_test_split(
    data.drop(["SalePrice"],axis=1),
    data["SalePrice"],
    test_size=0.2,
    random_state=42
    )
lrmod=LinearRegression()
lrmod.fit(train_X,train_Y)
y_predict=lrmod.predict(test_x)
mae = mean_absolute_error(test_y, y_predict)
mse = mean_squared_error(test_y, y_predict)
r2 = r2_score(test_y, y_predict)

print("MAE:", mae)
print("MSE:", mse)
print("R²:", r2)

MAE: 16881.956251197786
MSE: 1293343230.536938
R²: 0.6373848217951952

In [ ]:
MAE: 16881.956251197786
MSE: 1293343230.536938
R²: 0.6373848217951952